rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This allows authenticated users to read and write to all documents
    // under the 'public/data' path.
    match /artifacts/{appId}/public/data/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
